@page
@model WebShopProject.Pages.ProductsModel
@using WebShopProject.Models
@{
	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Products</title>
		<link rel="stylesheet" href="~/css/products.css" />
	</head>
	<body>

		<form method="get" action="Products" class="search-form">
			<label for="productName">Sök på produktnamn:</label>
			<input type="text" id="productName" name="productName" placeholder="Ange produktnamn" value="@Model.SearchName">

			<label for="category">Välj kategori:</label>
			<select id="category" name="category">
				<option value="">Alla kategorier</option>
				@foreach (var category in Model.Categories)
				{
					<option value="@category">@category</option>
				}
			</select>

			<button type="submit">Sök</button>
		</form>

		<h1>Products</h1>


		<div class="products">
			@if (Model.Products != null)
			{
				@foreach (var product in Model.Products)
				{
					<div class="product-item">
						<a href="ProductDetails?id=@product.ProductId" class="product-item-link">
							<div class="product-image-container" title="@product.Description">
								<img src="~/images/@product.ImagePath" alt="@product.Name" class="product-image" />
							</div>
							<div class="product-details">
								<h4 class="product-name">@product.Name</h4>
								<p class="product-price">@product.Price.ToString("C0")</p>
							</div>
						</a>
						<form method="post" asp-page-handler="AddToCart">
							<input type="hidden" name="productId" value="@product.ProductId">
							<button type="submit">Lägg till i varukorg</button>
						</form>
					</div>
				}
			}
			else
			{
				<p>No products found.</p>
			}

		</div>
		<div id="page-button-container">
			@if (Model.CurrentPage > 1)
			{
				<a href="./Products?page=@(Model.CurrentPage - 1)" class="btn btn-primary">Föregående sida</a>
			}

			<span>Page @Model.CurrentPage of @Model.TotalPages</span>

			@if (Model.CurrentPage < Model.TotalPages)
			{
				<a href="./Products?page=@(Model.CurrentPage + 1)" class="btn btn-primary">Nästa sida</a>
			}
		</div>


	</body>
	</html>
}
