@page
@model WebShopProject.Pages.ProductsModel
@using WebShopProject.Models
@{
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Products</title>
        <link rel="stylesheet" href="~/css/products.css" />
    </head>
      <body>

        <form method="get" action="Products" class="search-form">
            <label for="productName">Sök på produktnamn:</label>
            <input type="text" id="productName" name="productName" placeholder="Ange produktnamn" value="@Model.SearchName">

            <label for="category">Sök på kategori:</label>
            <select id="category" name="category">
                <option value="">Alla kategorier</option>
                @foreach (var category in Model.Categories)
                {
                    <option value="@category">@category</option>
                }
            </select>

            <button type="submit">Sök</button>
        </form>
        <a asp-page="./ShoppingCart">Till varukorg</a>

        <h1>Produkter</h1>

        <div class="products">
            @for (int i = 0; i < Model.Products.Count; i++)
            {
                var product = Model.Products[i];
                <div class="product-item">
                    <a href="ProductDetails?id=@product.ProductId" class="product-item-link">
                    <div class="product-image-container" title="@product.Description">
                        <img src="~/images/@product.ImagePath" alt="@product.Name" class="product-image" />
                    </div>
                    <div class="product-details">
                        <h4 class="product-name">@product.Name</h4>
                        <p class="product-price">@product.Price SEK</p>
                    </div>
                    </a>
                    <form method="post" asp-page="Products" asp-page-handler="AddToCart">
                        <input type="hidden" name="productId" value="@product.ProductId">
                        <button type="submit">Lägg till i varukorg</button>
                    </form>
                </div>
               
            }
        </div>
        
        <div id="page-button-container">
            @if (Model.CurrentPage > 1)
            {
                <a asp-page="./Products" asp-route-pageNumber="@(Model.CurrentPage - 1)" class="btn btn-primary">Föregående</a>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <a asp-page="./Products" asp-route-pageNumber="@(Model.CurrentPage + 1)" class="btn btn-primary">Nästa</a>
            }
            
        </div>
        <div id="current-page-container">
        <span id="current-page">Sida @Model.CurrentPage of @Model.TotalPages</span>
        </div>
        
      </body>
    </html>
}
