@page
@model WebShopProject.Pages.ProductDetailsModel
@using WebShopProject.Models
@{
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Product Details</title>
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<h1>Produktdetaljer</h1>
	<a asp-page="./Products" asp-route-pageNumber="@Model.CurrentPage">Tillbaka till produktsidan</a>
	<div class="product-details">
		<div class="product-image-container">
			<img src="~/images/@Model.Product.ImagePath" alt="@Model.Product.Name" class="product-image" />
		</div>
		<ul>
			<h2>@Model.Product.Name</h2>
			<li>Kategori: @Model.Product.Category</li>
			<li>Beskrivning: @Model.Product.Description</li>
			<li>Pris: @Model.Product.Price.ToString("C0")</li>
			<li>
				<form method="post" asp-page-handler="AddToCart">
					<input type="hidden" name="productId" value="@Model.Product.ProductId">
					<input type="hidden" name="currentPage" value="@Model.CurrentPage">
					<button type="submit">Lägg till i varukorg</button>
				</form>
			</li>
		</ul>

	</div>

</body>
</html>