	@page
	@model WebShop.Pages.ShoppingCartModel
@{
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shopping Cart</title>
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<h1>Varukorg</h1>
	<a asp-page="./Products">Tillbaka till produktsidan</a>
	<div class="shopping-cart">

		@if (Model.Cart != null && Model.Cart.CartItems != null && Model.Cart.CartItems.Count > 0)
		{
			<p>Du har @Model.Cart.CartItems.Count produkter i din varukorg.</p>
			<p>Totalt pris: @Model.TotalPrice.ToString("C0")</p>
			<table>
				<tr>
					<th></th>
					<th>Produktnamn</th>
					<th>Pris</th>
					<th>Antal</th>
				</tr>
				@foreach (var cartItem in Model.Cart.CartItems)
				{

					<tr>
						<td><img src="~/images/@cartItem.Product.ImagePath" alt="@cartItem.Product.Name" /></td>
						<td>@cartItem.Product.Name</td>
						<td>@cartItem.Product.Price.ToString("C0")</td>
						<td>@cartItem.Quantity</td>
					</tr>
				}
			</table>
		}
		else
		{
			<p>Din varukorg är tom.</p>
		}

	</div>	
	<div class="shopping-cart-buttons-container">
	<form method="post" asp-page-handler="EmptyCart" class="asp-form">
		<button type="submit" class="btn btn-primary">Töm varukorg</button>
	</form>
	@if (Model.Cart != null && Model.Cart.CartItems != null && Model.Cart.CartItems.Count > 0)
	{
		<a asp-page="./OrderConfirmation" class="btn btn-primary">Köp</a>
	}
	</div>
</body>
</html>