@page
@model WebShop.Pages.ShoppingCartModel
@{
}

<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shopping Cart</title>
	<link rel="stylesheet" href="~/css/shoppingCart.css" />
	</head>
	<body>
		<h1>Varukorg</h1>
		<div class="shopping-cart">
			<a asp-page="./Products">Tillbaka till produkter</a>
		@if (Model.Cart == null || Model.Cart.Count == 0)
			{
				<p>Din varukorg är tom.</p>
			}
			else
			{
				<p>Du har @Model.Cart.Count produkter i din varukorg.</p>
				<p>Totalt pris: @Model.TotalPrice SEK</p>
			})
		@foreach (var product in Model.Cart)
		{
			<div class="product-item">
				<a href="ProductDetails?id=@product.ProductId" class="product-item-link">
					<div class="product-image-container" title="@product.Description">
						<img src="~/images/@product.ImagePath" alt="@product.Name" class="product-image" />
					</div>
					<div class="product-details">
						<h4 class="product-name">@product.Name</h4>
						<p class="product-price">@product.Price SEK</p>
					</div>
				</a>
				<form method="post" asp-page-handler="RemoveFromCart">
					<input type="hidden" name="productId" value="@product.ProductId">
					<button type="submit">Ta bort från varukorg</button> </form>

					<form method="post" asp-page-handler="ClearCart">
						<button type="submit">Töm varukorg</button>
					</form>
			</div>
			}

		</div>
		<a asp-page="./OrderSummary" class="btn btn-primary">Gå till summering</a>





		</body>