@page
@model WebShop.Pages.ShoppingCartModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>Varukorg</h1>
        <a asp-page="./Products" class="btn btn-primary shopping-cart-buttons">Tillbaka till produktsidan</a>
    <div class="shopping-cart">

        @if (Model.Cart != null && Model.Cart.CartItems != null && Model.Cart.CartItems.Count > 0)
        {
            <div id="shopping-cart-container">
            <table>
                <thead>
                    <tr>
                        <th>Bild</th>
                        <th>Namn</th>
                        <th>Styckpris</th>
                        <th>Antal</th>
                        <th>Totalpris</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cartItem in Model.Cart.CartItems)
                    {
                        <tr>
                            <td>
                                <img src="~/images/@cartItem.Product.ImagePath" alt="@cartItem.Product.Name" class="product-image" />
                            </td>
                            <td>@cartItem.Product.Name</td>
                            <td>@cartItem.Product.Price.ToString("C0")</td>
                            <td>@cartItem.Quantity</td>
                            <td>@(cartItem.Product.Price * cartItem.Quantity) SEK</td>

                        </tr>
                    }
                </tbody>
            </table>

            <p>Totalt pris: @Model.TotalPrice.ToString("C0")</p>
            <form method="post" asp-page-handler="ClearCart">
                <button type="submit">Rensa varukorg</button>
            </form>
            </div>
        }
        else
        {
            <p>Din varukorg är tom.</p>
        }

    </div>
            <a asp-page="./OrderConfirmation" class="btn btn-primary shopping-cart-buttons">Genomför köp</a>
</body>
</html>
